*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #353530;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 36, 27, 0.7);
  z-index: -1;
}

.top-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 300px;
  background-size: cover;
  z-index: 0;
}

.top-hero-logo {
  margin-bottom: 15px;
}

.top-hero-text {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 500;
}

.underline {
  display: block;
  margin: 0 auto;
  width: 90px;
}

.underline-text {
  text-align: center;
  font-size: 1.4rem;
  color: #DB9D46;
  margin-top: 7px;
  letter-spacing: 0.1rem;
}

.heading {
  text-transform: uppercase;
  color: #353530;
  font-weight: 500;
}

.bg-gold {
  background-color: #B18857;
}

.bg-brown {
  background-color: #4e7457;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #DB9D46;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #DB9D46;
}

/*NAV*/
nav {
  font-size: 2rem;
  text-transform: uppercase;
}

.navbar-toggler {
  font-size: 3rem;
}

.nav__logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.nav__logo img {
  height: 80px;
  width: auto;
}

/*HEADER*/
header {
  font-size: 2rem;
}

header img {
  position: relative;
  bottom: 40px;
}

.carousel-item {
  position: relative;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.carousel-img-one {
  background-image: url("../img/saw-xs.jpg");
}

.carousel-img-two {
  background-image: url("../img/gardener-xs.jpg");
}

.carousel-img-three {
  background-image: url("../img/renovation-s.jpg");
}

/*MAIN*/
/*HOME*/
.accept-icon {
  width: 35px;
  -webkit-filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg) brightness(93%) contrast(83%);
          filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg) brightness(93%) contrast(83%);
}

.home-boxes {
  padding: 5em 0;
}

.home-box-icon {
  width: 70px;
  -webkit-filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg) brightness(93%) contrast(83%);
          filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg) brightness(93%) contrast(83%);
}

.home-box h3 {
  font-size: 2.6rem;
}

.home-passion {
  position: relative;
  height: 350px;
  background-image: url("../img/raking.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.home-brand h3 {
  font-size: 3rem;
  font-weight: bold;
}

.home-brand-bottom {
  position: relative;
}

.home-brand-bottom img {
  position: absolute;
  bottom: 0;
  max-width: 250px;
}

.rewards {
  background-image: url("../img/barrow-g8c5c9b16e_1920.jpg");
  background-position: top;
  height: auto;
  min-height: 350px;
}

.rewards .home-box-icon {
  -webkit-filter: none;
          filter: none;
  width: 140px;
}

.rewards .count {
  position: relative;
}

.rewards .count h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #DB9D46;
  font-size: 4rem;
}

/*FOOTER*/
footer {
  font-size: 1.6rem;
}

/*ABOUT US*/
.aboutus-hero {
  background-image: url("../img/raking-bg.jpg");
  background-position: bottom;
}

.icon-style {
  -webkit-filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg) brightness(93%) contrast(83%);
          filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg) brightness(93%) contrast(83%);
}

.card {
  border: none;
}

/*SERVICES*/
.accordion {
  width: 800px;
  border-radius: 6px;
}

.accordion-box {
  margin: 20px;
}

.accordion-box img {
  margin-right: 20px;
}

.accordion-btn {
  padding: 1em;
  width: 100%;
  font-size: 3rem;
  text-align: left;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.accordion-btn:hover {
  background-color: green;
  color: #fff;
  outline: none;
}

.accordion-info {
  display: none;
  padding: 1em 2em;
}

.accordion-info-text {
  text-align: left;
}

.accordion-info-text span {
  font-style: italic;
}

.active {
  display: block;
}

.services-hero {
  background-image: url("../img/saw-m.jpg");
  background-position: center;
}

.service-hero-box {
  position: relative;
  height: 300px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.service-hero-box p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

.box-one {
  background-image: url("../img/garden-work.jpg");
}

.box-two {
  background-image: url("../img/felling-bg-s.jpg");
}

.box-three {
  background-image: url("../img/house-renovation.jpg");
}

.box-four {
  background-image: url("../img/gardener-xs.jpg");
}

/* SERVICES */
.projects-hero {
  background-image: url("../img/project-bg.jpg");
  background-position: center;
}

.projects .card img {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .btn {
  font-size: 1.4rem;
  text-transform: uppercase;
}

/*CONTACT*/
.contact-hero {
  background-image: url("../img/contact.jpg");
  background-position: center;
}

.contact h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6rem;
}

.contact input,
.contact select,
.contact textarea {
  font-size: 1.6rem;
}

.contact .btn {
  padding: 0.3em 0.8em;
  font-size: 2rem;
}

.contact-map iframe {
  width: 100%;
  min-height: 400px;
}

@media screen and (min-width: 768px) {
  .home-brand .container {
    position: relative;
  }
  .home-brand .home-bottom {
    position: absolute;
    bottom: 0;
    right: 2%;
  }
}

@media screen and (min-width: 100px) {
  .home-brand .home-bottom img {
    width: 585px;
  }
}

@media screen and (min-width: 1400px) {
  .carousel-item {
    height: 600px;
  }
  .carousel-img-one {
    background-image: url("../img/saw-m.jpg");
  }
  .carousel-img-two {
    background-image: url("../img/gardener-m.jpg");
  }
  .carousel-img-three {
    background-image: url("../img/renovation-m.jpg");
  }
}
/*# sourceMappingURL=main.css.map */