@import "./colors";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	color: $dark-green;
}

a {
	color: #fff;
}

h3 {
  margin-bottom: 2rem;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(43, 36, 27, 0.7);
	z-index: -1;
}

.top-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 320px;
	background-size: cover;
	z-index: 0;

img {
		margin-bottom: 2rem;
	}

	&-text {
		font-size: 3.6rem;
		text-transform: uppercase;
		font-weight: 500;
    text-align: center;
	}
}

.underline {
	display: block;
	margin: 0 auto;
	width: 90px;

	&-text {
		text-align: center;
		font-size: 1.4rem;
		color: $orange;
		margin-top: 7px;
		letter-spacing: 0.1rem;
	}
}

.heading {
	text-transform: uppercase;
	color: $dark-green;
	font-weight: 500;
}

.bg-gold {
	background-color: $gold;
}

.bg-brown {
	background-color: #4e7457;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: $orange;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: $orange;
}

/*NAV*/

nav {
	font-size: 2rem;
	text-transform: uppercase;
}

.navbar-toggler {
	font-size: 3rem;
  border-color: transparent !important;
}

.nav {
	&__logo {
		font-size: 3rem;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.1rem;
		// &-color {
		//   color: $green;
		// }
		img {
			height: 80px;
			width: auto;
		}
	}
}

/*HEADER*/

header {
	font-size: 2rem;

	img {
		position: relative;
		bottom: 40px;
	}
}

.carousel-item {
	position: relative;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;

	// .logo-j {
	//   max-width: 118px;
	// }
}

.carousel-img-one {
	background-image: url("../img/saw-xs.jpg");
}
.carousel-img-two {
	background-image: url("../img/gardener-xs.jpg");
}
.carousel-img-three {
	background-image: url("../img/renovation-s.jpg");
}

/*MAIN*/

/*HOME*/

.accept-icon {
	margin-right: 0.5rem;
	width: 35px;
	filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg)
		brightness(93%) contrast(83%);
}

.approval-icon {
	width: 25px;
}

.home {
	&-boxes {
		padding: 5em 0;
	}


	&-passion {
		position: relative;
		height: 350px;
		background-image: url("../img/raking.jpg");
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

   .rewards-heading {
      margin-bottom: 0;
      font-size: 3rem;
      text-transform: uppercase;
    }
	}

  &-box {
		&-icon {
			width: 70px;
			filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg)
				brightness(93%) contrast(83%);
		}

		h3 {
			font-size: 2.6rem;
		}
	}

	&-brand {
		h3 {
			font-size: 3rem;
			font-weight: bold;
		}
	}
	&-bottom {
		position: relative;
		img {
			width: 260px;
		}
	}
}

.rewards {
	background-image: url("../img/barrow-m.jpg");
	background-position: top;
	height: auto;
	min-height: 350px;

	.home-box-icon {
		filter: none;
		width: 140px;
	}
	.count {
		position: relative;

		h3 {
			position: absolute;
			top: 46%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $orange;
			font-size: 4rem;
		}
	}
}

.offer {
  .col-8, .col-4 {
    width: 100%;
  }

  img {
    margin-bottom: 1rem;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      text-align: center;
    }
  }
}

/*FOOTER*/

footer {
	font-size: 1.6rem;

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/*ABOUT US*/

.aboutus {
	&-hero {
		background-image: url("../img/raking-bg.jpg");
		background-position: bottom;
	}


}

.icon-style {
	filter: invert(65%) sepia(57%) saturate(501%) hue-rotate(354deg)
		brightness(93%) contrast(83%);
}

.card {
	border: none;
}

/* GALLERY */

.section__gallery {
	margin: 0 auto;
	padding: 80px 0;

	h2 {
		margin-bottom: 5rem;
	}

	&-container {
		margin: 0 auto;
		width: 100%;

		&-box {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		a {
			display: block;
			position: relative;
			width: 80vw;
			height: 80vw;
			max-width: 300px;
			max-height: 300px;
			margin: 7px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.4s;

			&:hover {
				transform: scale(0.98);
				opacity: 0.9;
			}
		}
	}
}

/*SERVICES*/

.accordion {
	width: 100%;
	max-width: 800px;
	border-radius: 6px;
	&-box {
		margin: 20px;

		img {
			margin-right: 10px;
			width: 28px;
		}
	}

	&-btn {
		padding: 1em;
		width: 100%;
		font-size: 1.6rem;
		text-align: left;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	&-btn:hover {
		background-color: green;
		color: #fff;
		outline: none;
	}

	&-info {
		display: none;
		padding: 1em 2em;

		&-text {
			text-align: left;

			span {
				font-style: italic;
			}

			a {
				color: $dark-green;
			}
		}
	}
}

.active {
	display: block;
}

.services {
	&-hero {
		background-image: url("../img/saw-m.jpg");
		background-position: center;
	}
}

.service-hero-box {
	position: relative;
	height: 300px;
	background-position: center;
	background-size: cover;
	z-index: 0;

	p {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 3rem;
		text-transform: uppercase;
		color: #fff;
	}
}

.box {
	&-one {
		background-image: url("../img/garden-work.jpg");
	}

	&-two {
		background-image: url("../img/felling-bg-s.jpg");
	}

	&-three {
		background-image: url("../img/house-renovation.jpg");
	}

	&-four {
		background-image: url("../img/gardener-xs.jpg");
	}
}

/* SERVICES */

.projects {
	&-hero {
		background-image: url("../img/project-bg.jpg");
		background-position: center;
	}

	.card img {
		height: 240px;
		object-fit: cover;
	}

	.btn {
		font-size: 1.4rem;
		text-transform: uppercase;
	}
}

/*CONTACT*/

.contact {
	&-hero {
		background-image: url("../img/contact.jpg");
		background-position: center;
	}
	h2 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.6rem;
	}

	input,
	select,
	textarea {
		font-size: 1.6rem;
	}

	.btn {
		padding: 0.3em 0.8em;
		font-size: 2rem;
	}

	&-map iframe {
		width: 100%;
		min-height: 400px;
	}
}

@media screen and (min-width: 600px) {
  footer {
    font-size: 1.6rem;
  
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 768px) {
  

	.accordion {
		&-box {
			img {
				width: 35px;
			}
		}

		&-btn {
			font-size: 3rem;
		}
	}

	.home-brand {
		.container {
			position: relative;
		}

		.home-bottom {
			position: absolute;
			bottom: 0;
			right: 2%;
		}
		.company-heading {
			position: relative;
			&::after {
				content: url("../img/jawor-logo.png");
				position: absolute;
				top: 40px;
				left: 141%;
			}
		}
	}

	.section__gallery {
		&-container {
			&-box {
				a {
					width: 47%;
					overflow: hidden;
				}
			}
		}
	}

  .aboutus {
    &-hero {
      background-image: url("../img/raking-m.jpg");
    }
  }
}

@media screen and (min-width: 993px) {

	.home-brand {
		.home-bottom {
			img {
				width: 560px;
			}
		}
	}

	.section__gallery {
		&-container {
			&-box {
				a {
					width: 23%;
				}
			}
		}
	}
}

@media screen and (min-width: 1400px) {
	.carousel-item {
		height: 600px;
	}

	.carousel-img-one {
		background-image: url("../img/saw-m.jpg");
	}
	.carousel-img-two {
		background-image: url("../img/gardener-m.jpg");
	}
	.carousel-img-three {
		background-image: url("../img/renovation-m.jpg");
	}
}
